<h3> View School Details</h3> 
<div>
    <div>
        <label> <b> School Reg No : </b></label>{{school.schoolRegno}}
    </div>
    <div>
        <label> <b> School Name : </b></label>{{school.schoolName}}
    </div>
    <div>
        <label> <b> School Location: </b></label>{{school.schoolLocation}}
    </div>
    <div>
        <label> <b> School  EmailId :</b></label>{{school.schoolMailId}}
    </div>
     <div>
        <label> <b> No Of Students  :</b></label>{{school.noOfStudents}}
    </div>
    <div>
        <label> <b> No Of Teachers : </b></label>{{school.noOfTeachers}}
    </div> 
</div>
